
    <br>
<h1>Let's Explore together!</h1>


<div id="books"></div>
<h2>Books</h2>
<div>
  <ul>
  {{#each books}} 
    <li>
       <img src="{{url}}" alt="{{bTitle}}" class="smallimage"/>
       {{bTitle}} ({{bYear}})  <br> {{aFName}}  
  
    
      
    </li>
  {{/each}}
</ul>

</div>
</div>